@model Mekatronik.Paging.Pager
@using Mekatronik.MyExtensions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
   
}
<div class="container" >
    @if (Model.TotalPages > 0)
    {
        <ul id="ul-paging" class="pagination justify-content-end mb-0" >
            @if (Model.CurrentPage > 1)
            {
                 <li class="page-item">
                    <a class="page-link" href="@(Url.ActionContext.GetPageLink(1))" aria-label="First">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a  class="page-link" href="@(Url.ActionContext.GetPageLink((Model.CurrentPage - 1)))" aria-label="Previous">
                        <i class="fa fa-circle-left"></i>
                    </a>
                </li>
            }
            @for (var pge = Model.StarPage; pge <= Model.EndPage; pge++)
            {
                <li class="page-item @(pge == Model.CurrentPage ? "active" : "")"><a class="page-link" href="@(Url.ActionContext.GetPageLink(@pge))"  >@pge</a></li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@(Url.ActionContext.GetPageLink((Model.CurrentPage + 1)))" aria-label="Next">
                        <i class="fa fa-circle-right"></i>
                    </a>
                </li>
                <li class="page-item">  
                    <a class="page-link" href="@(Url.ActionContext.GetPageLink((Model.TotalPages)))" aria-label="Last">
                        Last
                    </a>
                </li>
            }


        </ul>
    }

</div>